<div class="slider gee " data-gene="init:slider">
	{% for item in banners %}
		<div class="{{ (ratio_cls)? ratio_cls : "neck-ratio" }} slick-slide-container">
			<div class="inset-0 coverBg slick-slide-bg" style="background-image:url('{{item.src}}')"></div>
		</div>
	{% endfor %}
</div>
